<hr>
<h2>
  <span class="label label-default">{{titulo}}</span>
</h2>
<div class="row">

  <div class="col-xs-8">
    <form [formGroup]="form" (ngSubmit)="operar()">
      <div class="row" [hidden]="true">
        <div class="col-xs-8">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" class="form-control" name="id" required formControlName="id">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" name="nombre" required formControlName="nombre">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label for="urlProyecto">Proyecto URL</label>
            <input type="text" id="urlProyecto" class="form-control" name="urlProyecto" required formControlName="urlProyecto" #url>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <button type="submit" class="btn btn-outline-success d-lg-inline-block mb-3 mb-md-0 ml-md-3" [disabled]="form.invalid">Aceptar</button>
          <button type="button" class="btn btn-outline-danger d-lg-inline-block mb-3 mb-md-0 ml-md-3" routerLink="/proyecto">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
    
   
  
  